.main {
  padding: 12px;
  margin: 12px;
}

.fixed-bottom {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  /* top border line */
  border-top: 1px solid #e5e5e5;
}

.form-fields {
  width: 100%;
  /* align-self: center; */
  /* top, right, left, bottom */
  padding: 20px 20px 12px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgb(116, 116, 116);
}
